# For local use only, don't commit changes!
# Rename this file to .env and add your vars
# If the .env was tracked: > git rm .env --cached; > git commit -m "Stopped tracking .env file"

PORT = 3000

# Enable APM Insight Node.js Agent
#APMINSIGHT_ENABLED='false'
