@import '../../../Assets/styles/vars';

.bitpixel_back {
  text-align: center;
  background-image: url('/img/cronosverse/Bit-back.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
}

.canvas {
  margin-top: 16%;
  margin-bottom: 12%;
  padding-right: 1%;
  /* width: 100%;  */
  display: flex;
  justify-content: center;
  position: relative;
}

// .canvasBack {
//   left: 0px;
//   top: 0px;
//   z-index: 0;
// }

.canvasFront {
  z-index: 1;
  position: absolute;
}

.tip_modal {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  z-index: 1;

  min-width: 206px;

  background: $bgColor1 !important;
}

.tip_modal .modal_content {
  display: flex;
  justify-content: flex-start;
  background: $bgColor1 !important;
}

.tip_modal .modal_content .tile_img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.tip_modal .modal_content .tile_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cross {
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
