// light theme colors
:root {
  --color-white: #fff;
  --color-gray: #bbb;
  --color-black: #111;
  --color-general: #727272;
  --color-black_soft: #333;
  --color-black_col: #2e333c;
  --color-black_more: #0f0f0f;
  --color-blue: #218cff;
  --color-dark-blue: #35669e;

  --color-textColor1: #0d0c22;
  --color-textColor2: #595d69;

  --color-bgColor1: #fff;
  --color-bgColor2: #bd2727;

  --color-borderColor1: #eeeeee;
}

// dark theme colors
html[data-theme='dark'] {
  --color-white: #fff;
  --color-gray: #bbb;
  --color-black: #111;
  --color-general: #a2a2a2;
  --color-black_soft: #333;
  --color-black_col: #2e333c;
  --color-black_more: #0f0f0f;
  --color-blue: #218cff;
  --color-dark-blue: #fc202c;

  --color-textColor1: #fff;
  --color-textColor2: #a2a2a2;

  --color-bgColor1: #212428;
  --color-bgColor2: #bd2727;

  --color-borderColor1: rgba(255, 255, 255, 0.1);
}

// vars
$white: var(--color-white);
$gray: var(--color-gray);
$black: var(--color-black);
$general: var(--color-general);
$black_soft: var(--color-black_soft);
$black_col: var(--color-black_col);
$black_more: var(--color-black_more);
$blue: var(--color-blue);
$darkBlue: var(--color-dark-blue);

$textColor1: var(--color-textColor1);
$textColor2: var(--color-textColor2);

$bgColor1: var(--color-bgColor1);
$bgColor2: var(--color-bgColor2);

$borderColor1: var(--color-borderColor1);
