// light theme colors
:root {
  --color-white: #fff;
  --color-gray: #bbb;
  --color-black: #111;
  --color-general: #727272;
  --color-black_soft: #333;
  --color-black_col: #2e333c;
  --color-black_more: #0f0f0f;
  --color-blue: #218cff;
  --color-dark-blue: #35669e;

  --color-textColor1: #0d0c22;
  --color-textColor2: #595d69;
  --color-textColor3: #218cff;

  --color-bgColor1: #fff;
  --color-bgColor2: #bd2727;
  --color-bgColor3: #f6f6f6;

  --color-cardColor1: #fff;
  --color-cardColor2: #f2f2f2;

  --color-borderColor1: #eeeeee;
  --color-borderColor2: #bbbbbb;

  --color-warningColor1: #ffc107;

  --color-boxShadow1: rgba(20, 20, 20, 0.1);
}

// dark theme colors
html[data-theme='dark'] {
  --color-white: #fff;
  --color-gray: #bbb;
  --color-black: #111;
  --color-general: #a2a2a2;
  --color-black_soft: #333;
  --color-black_col: #2e333c;
  --color-black_more: #0f0f0f;
  --color-blue: #218cff;
  --color-dark-blue: #35669e;

  --color-textColor1: #fff;
  --color-textColor2: #a2a2a2;
  --color-textColor3: #fff;

  --color-bgColor1: #212428;
  --color-bgColor2: #bd2727;
  --color-bgColor3: #333;
  
  --color-cardColor1: #000;
  --color-cardColor2: #2e333c;

  --color-borderColor1: rgba(255, 255, 255, 0.1);
  --color-borderColor2: rgba(255, 255, 255, 0.1);

  --color-warningColor1: #e3ad0c;

  --color-boxShadow1: rgba(20, 20, 20, 0.6);
}

// vars
$white: var(--color-white);
$gray: var(--color-gray);
$black: var(--color-black);
$general: var(--color-general);
$black_soft: var(--color-black_soft);
$black_col: var(--color-black_col);
$black_more: var(--color-black_more);
$blue: var(--color-blue);
$darkBlue: var(--color-dark-blue);

$textColor1: var(--color-textColor1);
$textColor2: var(--color-textColor2);
$textColor3: var(--color-textColor3);

$bgColor1: var(--color-bgColor1);
$bgColor2: var(--color-bgColor2);
$bgColor3: var(--color-bgColor3);

$cardColor1: var(--color-cardColor1);
$cardColor2: var(--color-cardColor2);

$borderColor1: var(--color-borderColor1);
$borderColor2: var(--color-borderColor2);

$warningColor1: var(--color-warningColor1);

$colorBoxShadow1: var(--color-boxShadow1);
